<!DOCTYPE html>
<html>
<head>
  <title>Accountable</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/f4fea14c70.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="grid-container fluid">
  <nav class="top-bar grid-x grid-margin-x">
    <a href="/" class="logo">
      <%= image_tag("color.png")%>
    </a>
    <ul>
      <%- if current_user -%>
      <li class="username">
        <%= "Hello, " + current_user.first_name %>
      </li>
        <a href="/months"><li>Home</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/advisors"><li>Find Advisor</li></a>
      <%- else -%>
        <a href="/"><li>Home</li></a>
        <a href="/about"><li>About</li></a>
      <%- end -%>
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
